<section class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <ul class="articles">
                <% page.posts.each(function(post){ %>
                    <li>
                        <a href="<%- url_for(post.path) %>" title="<%= post.title %>">
                            <article class="item">
                                <div class="item-darken">
                                    <h1><%= post.title %></h1>
                                    <footer>
                                        Published on <time datetime="<%= date_xml(post.date) %>"><%= date(post.date, 'dddd, MMMM Do YYYY') %></time> by <%= config.author %>.
                                    </footer>
                                </div>
                                <img class="background" src="<%= url_for(post.path) %>header.jpg" alt="<%= post.title %>" />
                            </article>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</section>
