<!DOCTYPE html>
<html lang="<%= config.language %>">
    <head>
<%- partial('_partial/meta') %>
    </head>
    <body class="<%- getTrimmedPartial('_partial/body_class') %>">
<%- partial('_partial/header') %>
<%- body %>
<%- partial('_partial/footer') %>
    </body>
</html>
