
        <footer class="footer container-fluid">
            <div class="center">
                <p>
                    <% getPages('footer').forEach(function(page, index) { %>
                        <a href="<%= getUrl(page.path) %>" title="<%= page.title %>"><%= page.title %></a> <% if(getPages('footer').length != index + 1) { %> - <% } %>
                    <% }); %>
                    - <a href="https://github.com/tijme/blog" target="_blank" rel="noopener">Source</a>
                    <br>
                    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author %>. Version <%= getVersion() %>. All rights reserved.
                </p>
            </div>
        </footer>
