
        <nav class="navbar <% if (!is_post()) { %>navbar-translucent<% } %>">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="row">
                            <div class="collapse navbar-collapse" id="navigation">
                                <ul class="nav navbar-nav">
                                    <li <% if (getPath() == '') { %>class="active"<% } %>>
                                        <a href="<%= config.root %>">
                                            <span class="text">Home</span>
                                        </a>
                                    </li>
                                    <% getPages('header').forEach(function(page) { %>
                                        <li <% if (page.path == path) { %>class="active"<% } %>>
                                            <a href="<%= getUrl(page.path) %>" title="<%= page.title %>">
                                                <span class="text"><%= page.title %></span>
                                            </a>
                                        </li>
                                    <% }); %>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="<%= getUrl(theme.feed.path) %>" target="_blank">
                                            <span class="text"><%= theme.feed.title %></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
